.container {
  height: "100%";
  /* height: calc(100vh - 80px); */
  flex: 1;
  background-image: url(../../assert/images/dummy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}

@media (max-width: 767px) {
  .container {
    padding: 20px;
  }
}
